body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient( to bottom right, #F1948A ,#5499C7 ,#73C6B6 ,#F8C471 ,#F4F6F7 ); */
  background-image: url(./Form/ii.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
